[Unit]
Description=Launch inky display with home monitoring dashboards
Requires=<home_monitoring_service>
After=<home_monitoring_service>

[Service]
Type=simple
Restart=always
ExecStart=<path_to_dir>/home_monitoring_display/services/inky_dashboards.sh

[Install]
WantedBy=multi-user.target